@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  display: flex;
  margin: 30px auto;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: stretch; */
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  height: 500px;
  width: 300px;
}
#Lsuit {
  font-size: 75px;
  align-self: flex-start;
  padding-left: 10px;
}
#Rsuit {
  align-self: flex-end;
  justify-content: flex-end;
  transform: rotate(180deg);
  font-size: 75px;
  padding-left: 10px;
}
#number {
  font-size: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
